################################################################################
#                                                                              #
#                           Requirements for testing                           #
#                                                                              #
################################################################################

aether.python==1.0.11
confluent_kafka
flask
jsonpath_ng
jsonschema
kafka-python
requests
spavro
webtest


# Test libraries

birdisle
flake8
pytest
pytest-cov
pytest-lazy-fixture
pytest-runner
