################################################################################
#                                                                              #
#                           Requirements for testing                           #
#                                                                              #
################################################################################

confluent_kafka
flask
jsonpath_ng
jsonschema
kafka-python
redis
requests
spavro
webtest


# Test libraries

flake8
pytest
pytest-cov
pytest-lazy-fixture
pytest-runner
