#########################################################################################
#                                                                                       #
#                              Frozen requirements                                      #
#                                                                                       #
#                               DO NOT CHANGE !!!                                       #
#                                                                                       #
# To update this first update 'primary-requirements.txt'                                #
# then run 'docker-compose run consumer-sdk{-py2 / -py3}-test pip_freeze'               #
#                                                                                       #
#########################################################################################
atomicwrites==1.2.1
attrs==17.4.0
beautifulsoup4==4.7.1
Click==7.0
decorator==4.3.0
entrypoints==0.3
flake8==3.7.5
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
jsonpath-ng==1.4.3
jsonschema==2.6.0
kafka-python==1.4.4
MarkupSafe==1.1.0
mccabe==0.6.1
mock==2.0.0
more-itertools==4.1.0
pbr==4.0.2
pluggy==0.8.0
ply==3.11
py==1.5.3
pycodestyle==2.5.0
pyflakes==2.1.0
pytest==4.2.1
pytest-runner==4.4
six==1.11.0
soupsieve==1.8
spavro==1.1.21
waitress==1.2.1
WebOb==1.8.5
WebTest==2.0.33
Werkzeug==0.14.1
