#########################################################################################
#                                                                                       #
#                              Frozen requirements                                      #
#                                                                                       #
#                               DO NOT CHANGE !!!                                       #
#                                                                                       #
# To update this first update 'primary-requirements.txt'                                #
# then run 'docker-compose run consumer-sdk{-py2 / -py3}-test pip_freeze'               #
#                                                                                       #
#########################################################################################
atomicwrites==1.2.1
attrs==17.4.0
decorator==4.3.0
flake8==3.6.0
jsonpath-ng==1.4.3
kafka-python==1.4.4
mccabe==0.6.1
mock==2.0.0
more-itertools==4.1.0
pbr==4.0.2
pluggy==0.8.0
ply==3.11
py==1.5.3
pycodestyle==2.4.0
pyflakes==2.0.0
pytest==4.0.2
pytest-runner==4.2
six==1.11.0
spavro==1.1.20
